* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
}

div#root {
  height: 100%;
  background: linear-gradient(to bottom right, #FACB80, #FFEAD2);
  z-index: 0;
  overflow-y: scroll;
}

div.home-div {
  position: relative;
  height: 100%;
  z-index: 1;
}

div.header-div {
  margin: 0 1.2em;
  text-align: center;
}

.heart {
  height: 117px;
  width: 222px;
  position: absolute;
  left: 68px;
  top: 94px;
}

div.header-div h2 {
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
  color: #B52B40;
  font-weight: 300;
}

div.content-div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 235px 9px -13px 25px;
  padding: 8px;
  box-shadow: 7px 2px 9px 0px #B52B40;
  position: absolute;
  width: 321px;
}

div.content-login {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 217px 11px -17px 24px;
  padding: 12px;
  position: absolute;
  width: 324px;
  height: 323px;
  box-shadow: 7px 2px 9px 0px #B52B40;
}

div.content-register {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 217px 11px -17px 25px;
  padding: 12px;
  position: absolute;
  width: 324px;
  height: 364px;
  box-shadow: 7px 2px 9px 0px #B52B40;
}

.homeBttn,
.loginBttn,
.registerBttn {
  width: 292px;
  height: 50px;
  background: #b52b40;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  font-size: 1.1em;
  border: 3px solid #facb80;
  color: #facb80;
  border-radius: 10px;
  text-align: center;
  font-weight: 200;
  padding-right: 9px;
  cursor: pointer;
  margin: -5px 18px 9px 3px;
}

.loginBttnGoogle,
.buttonRegisterGoogle {
  display: block;
  background-color: #FBD8B0;
  border: 2px solid #facb80;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 13px auto;
  padding: 15px 0px;
  width: 100%;
  color: #B52B40;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
  font-size: 1.0em;
  cursor: pointer;
}

.loginInputBox {
  margin: 5px 24px 8px 3px;
  padding: 8px 2%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orange;
  display: block;
  width: 97%;
  color: #ffead2;
  font-size: 0.9em;
  height: 42px;
  font-weight: 100;
  cursor: pointer;
}

.registerInputBox{
  margin:-3px 18px 9px 3px;
  padding: 8px 2%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orange;
  display: block;
  width: 97%;
  color: #ffead2;
  font-size: 0.9em;
  height: 42px;
  font-weight: 100;
  cursor: pointer;
}

button:hover {
  background-color: #E58677;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px #CC553E;
  transition: 0.5s;
}

.corner-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 300px;
}

.timelineCornerImage {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300px;
}

.logoGoogle,
.logoGoogleRegister {
  width: 166px;
  height: 41px;
  margin: 8px 23px 5px 64px;
  margin-top: -3px;
  cursor: pointer;
}

h1 {
  display: block;
  color: #B52B40;
  width: 180px;
  font-size: 1.5em;
  font-weight: 700;
  margin: 6px 88px 9px 86px;
}

h3 {
  display: block;
  font-size: 0.7em;
  text-align: center;
  color: #B52B40;
  font-family: 'Roboto Flex', sans-serif;
}

h4 {
  display: block;
  color: #B52B40;
  width: 180px;
  font-size: 1.0em;
  font-weight: 700;
}

.navigation {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 18px 19px 2px;
}

.navigation button {
  background-color: #b52b40;
  border: 3px solid #facb80;
  border-radius: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: -8px 21px -6px -13px;
  padding: 9px 0px;
  width: 113%;
  color: #ffead2;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 90;
  font-size: 0.7em;
}

.timelineLogo {
  height: 48px;
  margin: 6px 14px 6px 6px;
  padding: 6px 10px 10px 10px;
}

.timelineContentDiv{
  width: 86%;
  min-height: 50px;
  background-color: rgb(255, 234, 210);
  border: 3px solid #facb80;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  position: relative;
  font-size: .8em;
  box-shadow: 7px 2px 9px 0px #B52B40;
}

.buttonToPost {
  margin-top: 10px;
  background:#b52b40;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  font-size: 12px;
  border: 3px solid #facb80;
  color: #ffead2;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -36px;
  border-radius: 10px;
  font-weight: 600;
  padding: 9px;
  margin-bottom: -10px;
}

.timelineInputBox {
  background-color: #fff;
  border: 1px solid  #ffead2;
  width: 100%;
  height: 79%;
  min-height: 90px;
  border-radius: 15px;
  margin: 16px auto 8px auto;
  word-wrap: break-word;
  position: relative;
  z-index: 0;
  padding: 30px;
}

.timelinePosts{
  margin-top: 69px;
  left: 20px;
  width: 86%;
  min-height: 50px;
  background-color: rgb(255, 234, 210);
  border: 3px solid #facb80;
  border-radius: 15px;
  padding: 10px;
  position:absolute;
  font-size: .8em;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
}

.descripcionPost{
  flex-grow: 1;
  margin: 20px 0;
  text-align: left;
  font-size: 12px;
}

.publicacionPost{
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #e58677;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 20px 20px 1px;
  position: relative;
  font-size: 1.1em;
}

/* Estilos para tablet */

@media (min-width: 728px) and (max-width: 1023px) {

  div.content-div button {
    font-size: 1.13em;
    height: 56px;
    margin-bottom: 18px;
  }

  .timelineHeart {
    height: 181px;
    width: 357px;
    margin: 29px 54px 33px 195px;
  }

  .logoGoogle,
  .logoGoogleRegister {
    margin: -12px 3px -15px 95px;
    width: 251px;
    height: 55px;
    left: 60px;
    top: 328px;
  }

  h1 {
    display: block;
    color: #B52B40;
    width: 180px;
    font-size: 1.7em;
    font-weight: 700;
    margin: 7px 90px 11px 134px;
  }

  div.content-div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: 333px 10px -15px 121px;
    padding: 19px;
    position: absolute;
    width: 475px;
  }
  
  div.content-register {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 217px 11px -17px 25px;
  padding: 12px;
  position: absolute;
  width: 324px;
  height: 364px;
  box-shadow: 7px 2px 9px 0px #B52B40;
}

.registerBttn {
  width: 292px;
  height: 50px;
  background: #b52b40;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  font-size: 1.1em;
  border: 3px solid #facb80;
  color: #facb80;
  border-radius: 10px;
  text-align: center;
  font-weight: 200;
  padding-right: 9px;
  cursor: pointer;
  margin: -5px 18px 9px 3px;
}

  div.content-div button {
  font-size: 1.3em;
  margin: 18px auto;
  padding: 18px 0px;
  }

.homeButton {
  margin: 7px auto;
  padding: 13px 0px;
  width: 100%;
  }
}
 

/* Estilos para laptops */

@media (min-width: 1024px) {
  .timelineCornerImage {
    height: 700px;
  }
  .home-div {
    display: grid;
    grid-template-columns: 1fr 0% 40%;
    grid-gap: 10px;
  }

  div.header-div {
    grid-column: 1 / span 3;
  }

  div.header-div img#logo {
    margin-top: 50px;
  }

  div.content-div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: 333px 10px -15px 187px;
    padding: 19px;
    position: absolute;
    width: 507px;
    height: 292px;
  }

  .homeBttn {
    width: 382px;
    height: 62px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.5em;
    border: 3px solid rgb(230, 200, 130);
    color: #fbd8b0;
    border-radius: 10px;
    top: 20px;
    padding: 3px 20px 2px 24px;
    margin: -8px 35px 20px 43px;
    top: 50px;
    cursor: pointer;
  }

  div.content-login {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: 333px 10px -15px 187px;
    padding: 31px;
    position: absolute;
    width: 514px;
    height: 399px;
    box-shadow: 7px 2px 9px 0px #B52B40;
  }

  .loginBttn,
  .registerBttn {
    width: 443px;
    height: 56px;
    background: rgb(181, 43, 64);
    box-shadow: rgb(229, 229, 229) 0px 0px 5px 1px;
    font-size: 1.5em;
    border: 3px solid rgb(230, 200, 130);
    color: rgb(251, 216, 176);
    border-radius: 10px;
    padding: 3px 20px 2px -21px;
    margin: 4px 7px 7px 3px;
    cursor: pointer;
}

.loginInputBox {
  margin: 5px 24px 8px 3px;
  padding: 8px 2%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orange;
  display: block;
  width: 97%;
  color: #ffead2;
  font-size: 0.9em;
  height: 48px;
  font-weight: 100;
  cursor: pointer;
}

.inputBox{
  width: 430px;
  padding: 8px;
  font-size: 16px;
  border: 3px solid #facb80;
  border-radius: 10px;
  margin-bottom: 6px;
  height: 46px;
  margin: 6px 11px 6px 13px;
}
  
div.content-register {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 333px 10px -15px 187px;
  padding: 31px;
  position: absolute;
  width: 514px;
  height: 438px;
  box-shadow: 7px 2px 9px 0px #B52B40;
}

.registerInputBox{
  margin:-3px 18px 9px 3px;
  padding: 8px 2%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid orange;
  display: block;
  width: 97%;
  color: #ffead2;
  font-size: 0.9em;
  height: 46px;
  font-weight: 100;
  cursor: pointer;
}

.div.content-div button {
  font-size: 1.3em;
  margin: 18px auto;
  padding: 9px 0px;
  }

.heart {
  height: 156px;
  width: 316px;
  position: absolute;
  left: 284px;
  top: 170px;
  }

.logoGoogle,
.logoGoogleRegister {
  margin: -2px 6px -4px 95px;
  width: 251px;
  height: 55px;
  left: 60px;
  }

  h1 {
  display: block;
  color: #B52B40;
  width: 180px;
  margin: 6px 88px 9px 144px;
  font-size: 1.7em;
  font-weight: 700;
  }

  .timelineContentDiv {
    position: inherit;
    display: block;
    padding: 20px;
    background-color: rgb(255, 234, 210);
    margin-top: 20px;
    margin-left: 20px;
  }

  .timelineLogo {
    height: 70px;
    margin: 6px 14px 6px 6px;
    padding: 6px 10px 10px 10px;
  }

  h4 {
    display: block;
    color: #B52B40;
    width: 180px;
    font-size: 1.0em;
    font-weight: 600;
  }

  .navigation {
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 9px 0px;
    width: 60%;
    color: #ffead2;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100%;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 18px 19px 2px;
}
  
  .navBttn {
    background-color: #b52b40;
    border: 3px solid #facb80;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: -8px 21px -6px -13px;
    padding: 9px 0px;
    color: #ffead2;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 90;
    font-size: 0.7em;
    width: 50%;
    height:50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  }
  
  .timelineLogo {
    height: 78px;
    margin: -7px 17px 6px 11px;
    padding: 6px 10px 10px 10px;
}
  
  .timelineContentDiv{
    width: 46%;
    min-height: 49px;
    background-color: rgb(255, 234, 210);
    border: 3px solid rgb(250, 203, 128);
    border-radius: 15px;
    padding: 10px;
    margin: 20px 20px 20px 120px;
    position: relative;
    font-size: 0.8em;
    box-shadow: 7px 2px 9px 0px #B52B40;
  }
  
  .buttonToPost {
    margin-top: 10px;
    background:#b52b40;
    box-shadow: 0px 0px 5px 1px #b52b40;
    font-size: 12px;
    border: 3px solid #facb80;
    color: #ffead2;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -36px;
    border-radius: 10px;
    font-weight: 600;
    padding: 9px;
    margin-bottom: -10px;
    height: 30%;
    cursor: pointer;
  }
  
  .timelineInputBox {
    background-color: #fff;
    border: 1px solid  #ffead2;
    width: 100%;
    height: 79%;
    min-height: 90px;
    border-radius: 15px;
    margin: 16px auto 8px auto;
    word-wrap: break-word;
    position: relative;
    z-index: 0;
    padding: 30px;
  }
  
  .timelinePosts{
    margin-top: 69px;
    left: 80px;
    width: 50%;
    min-height: 50px;
    background-color: rgb(255, 234, 210);
    border: 3px solid #facb80;
    border-radius: 15px;
    padding: 10px;
    position:absolute;
    font-size: .8em;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  }
  
  .descripcionPost{
    flex-grow: 1;
    margin: 20px 0;
    text-align: left;
    font-size: 12px;
  }
  
  .publicacionPost{
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid #e58677;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 20px 1px;
    position: relative;
    font-size: 1.1em;
  }
  button:hover {
    background-color: #E58677;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }
}
/* ESTILOS MODAL */
dialog {
  border:none;
  background: #facb80;
  padding: 10px;
  margin: 0;
  align-content: space-around;
  color:#B52B40;
}

dialog[open] {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

dialog::backdrop {
  background-color: rgba(54, 54, 54, 0.5);
}

dialog div.modal-div {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 15px;
}



