* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
}
body {
  size:100%;
  background-image: url(img/background-mobile-big.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#FBD8B0;
  background-attachment: fixed;
}

div#root {
  height: 100%;
  width:100%;
}

/* ========= ESTILOS MODAL ========= */
dialog {
  position:absolute;
  background: #facb80;
  padding: 10px;
  margin: auto;
  align-content: space-around;
  color:#B52B40;
  min-height: 50px;
  background-color: rgb(255, 234, 210);
  border: 3px solid #facb80;
  border-radius: 15px;
  font-size: .8em;
}

dialog[open] {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

dialog::backdrop {
  background-color: rgba(54, 54, 54, 0.5);
}

dialog div.modal-div {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 15px;
}

.navBttn {
  min-width: 70px; 
  height: 22px;
  background: #b52b40;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  font-size: .8em;
  font-weight: normal;
  border: 1px solid #facb80;
  color: #facb80;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
  
.navBttn:hover {
  background-color: #ce5555;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px #CC553E;
  transition: 0.5s;
}

/* ===== Pantallas hasta 768 px de ancho ===== */
@media screen and (max-width:768px) {

  /* ========== TODAS LAS VISTAS ========== */

  .heart {
    max-height: 50%;
    min-height: 50%;
    max-width: 50%;
    min-width: 50%;
    margin: 20px;
  }

  div.home-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 20% 0;
    row-gap: 50px;
  } 
  
  h1 {
    display: block;
    color: rgb(181, 43, 64);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
  }
 
  h3 {
    display: block;
    font-size: 0.7em;
    text-align: center;
    color: rgb(101, 101, 100);
    font-family: 'Roboto Flex', sans-serif;
    margin: auto;
  }
 
  h4 {
    display: block;
    color: #B52B40;
    width: 180px;
    font-size: 1.2em;
    font-weight: 700;
    margin: auto;
    text-align: center;
  }
 
  /* ========== HOME ========== */
 
  div.header-div h2 {
    font-size: 150%;
    margin: 1em;
    text-align: center;
    color: #B52B40;
    font-weight: bold;
  }
 
  div.content-div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: center;
    min-width: 200px;
    max-width: 320px;
    justify-content: space-around;
    display:flex;
    flex-flow: column nowrap;
  }
  
  div.content-div button {
    min-width: 180px;
    max-width: 300px;
    height: 50px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.2em;
    font-weight: normal;
    border: 3px solid #facb80;
    color: #facb80;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  div.content-div button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

  /*========== LOGIN ========== */

  div.content-login {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: center;
    min-width: 200px;
    max-width: 320px;
    display:flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  div.content-login button  {
    min-width: 180px;
    max-width: 300px;
    height: 50px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.2em;
    font-weight: normal;
    border: 3px solid #facb80;
    color: #facb80;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  div.content-login button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

  input.loginInputBox {
    margin: 6px 24px 8px 6px;
    padding: 8px 2%;
    background-color: white;
    border-radius: 10px;
    border: 3px solid orange;
    display: block;
    width: 97%;
    color: rgb(50, 50, 50);
    font-size: 0.9em;
    height: 42px;
    font-weight: 100;
    cursor: pointer;
  }

  img.logoGoogle {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  img.logoGoogle:hover {
    background-color: rgba(181, 43, 64, 0.3);
    transition: 0.5s;
  }

/*========== REGISTER ========== */

  div.content-register {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: center;
    min-width: 260px;
    max-width: 320px;
    justify-content: space-around;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    text-align: center;
  }

  input.registerInputBox{
    margin:-3px 18px 9px 3px;
    padding: 8px 2%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid orange;
    display: block;
    width: 97%;
    color: rgb(50, 50, 50);
    font-size: 0.9em;
    height: 42px;
    font-weight: 100;
    cursor: pointer;
  }

  div.content-register button {
    min-width: 180px;
    max-width: 300px;
    height: 50px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.2em;
    font-weight: normal;
    border: 3px solid #facb80;
    color: #facb80;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  div.content-register button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

/*========== TIMELINE ========== */

  .heartTimeline {
    height: 70px;
    margin: 0 20px 0 0;
  }

  .timeline-div{
    width: 100%;
    height: max-content;
    display: inline;
  }

  .timeline-main-div {
    height: fit-content;
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
  }

  div .navHome {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin: 20px 20px 0 20px;
    column-gap: 10px;
  }

  div .divUserName {
    margin: 0;
    width: 70px;
    height: 70px;
    background-image: url(img/user-image.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#FBD8B0;
    background-attachment: local;
  }

  div .divUserName:hover {
    cursor: pointer;
  }

  div.navHome span {
    font-size: 1em;
    font-weight: bold;
    color: #B52B40;
  }

  div.navHome span:hover {
    cursor: pointer;  
  }

  .logoutButton{
    border-width: 0;
    background-color: #facb80;
  }

  .timelineContentDiv{
    width: 96%;
    min-height: 50px;
    background-color: rgb(255, 234, 210);
    border: 3px solid #e58677;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    position: relative;
    font-size: .8em;
    box-shadow: 7px 2px 9px 0px #B52B40;
    top:20px;
    left: -1px;
  }

  .buttonToPost {
    background:#b52b40;
    box-shadow: -2px -2px 1px 1px #e58677;
    font-size: 14px;
    border: 1px solid rgb(193 184 163);
    color:#ffead2;
    position: absolute;
    left: 2%;
    right: 0px;
    bottom: -36px;
    border-radius: 10px;
    font-weight: bold;
    padding: 9px;
    margin-bottom: -10px;
    cursor: pointer;
  }

  .timelineInputBox {
    width: 100%;
    height: 79px;
    box-shadow: 0px 0px 10px 0px rgb(231, 230, 230);
    color: rgb(93, 92, 92);
    font-size: 1.2em;
    background-color: #fff;
    border: 1px solid  #ffead2;
    min-height: 90px;
    border-radius: 15px;
    margin: 16px auto 8px auto;
    word-wrap: break-word;
    position: relative;
    z-index: 0;
    padding: 30px;
  }

  .timelineInputBox ::placeholder {
    color: rgb(189, 176, 176);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
  }

  div.timelinePosts {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  #posts-div{
    width: 100%;
    height: 100%;
    padding: 14% 12% 12% 10%;
    display:flex;
    flex-flow: column nowrap;
    justify-items: center;
  }

  .descripcionPost{
    flex-grow: 1;
    margin: 20px 0;
    text-align: left;
    font-size: .8em;
    color: #242424;
  }

  .publicacionPost{
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid #e58677;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 20px 1px;
    position: relative;
    font-size: 1em;
    color: #242424;
  }
  p.usuario {
    color:#242424;
    font-weight: normal;
  }

  .removeLikeImg{
    height: 22px;
    width: 22px;
    display: inline-block;
    cursor: pointer;
  }

  .likeImg{
    height: 22px;
    width: 22px;
    display: inline-block;
    cursor: pointer;
  }

  .spanLikeDiv {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;
    color:#B52B40
  }

  .actionDiv {
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: right;
    gap: 10px;
  }

  .actionDiv button{
    min-width: 70px; 
    height: 22px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: .8em;
    font-weight: normal;
    border: 1px solid #facb80;
    color: #facb80;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  .actionDiv button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

  button.back-to-top-button {
    position: relative;
    background:#b52b40;
    box-shadow: -2px -2px 1px 1px #e58677;
    font-size: 14px;
    border: 1px solid rgb(193 184 163);
    color:#ffead2;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20%;
    margin-top: -5%;
    padding:10px;
    min-width: fit-content;
    max-width:200px;
    justify-self: center;
  }

  button.back-to-top-button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

  .divSignOut {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 207, 124);
    justify-content: center;
    display: flex;
    font-size: large;
    color:#B52B40;
    z-index: 2;
  }
}

/*=====================================================================================*/
/* ===== Pantallas desde 769 px de ancho ===== */
@media screen and (min-width:769px){
/* =========== TODAS LAS VISTAS =========== */

  .heart {
    min-height: 30%;
    min-width: 30%;
    max-height: 30%;
    max-width: 30%;
    margin: 100px;
  }
  div.home-div {
    height: 100%;
    width:100%;
    margin: 0 0 0 10%;
    row-gap: 50px;
  } 
  h1 {
    display: block;
    color: #B52B40;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
  }
    
  h3 {
    display: block;
    font-size: 0.7em;
    text-align: center;
    color: rgb(101, 101, 100);
    font-family: 'Roboto Flex', sans-serif;
    margin: auto;
  }
    
  h4 {
    display: block;
    color: #B52B40;
    width: 180px;
    font-size: 1.0em;
    font-weight: 700;
    margin: auto;
  }
/*========== HOME ========== */

  div.header-div h2 {
    font-size: 150%;
    margin: 1em;
    text-align: center;
    color: #B52B40;
    font-weight: bold;
  }

  div.content-div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: absolute;
    min-width: 320px;
    max-width: 400px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  div.content-div button {
    min-width: 300px;
    max-width: 360px;
    height: 60px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.5em;
    border: 5px solid #facb80;
    color: #facb80;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin: -10px 20px 14px 3px;
  }

  div.content-div button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

/*========== LOGIN ========== */

  div.content-login {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: absolute;
    min-width: 300px;
    max-width: 360px;
    display:flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  div.content-login button {
    width:100%;
    height: 60px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.2em;
    border: 3px solid #facb80;
    color: #facb80;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
  }
  
  div.content-login button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

  input.loginInputBox {
    margin: 6px 24px 8px 6px;
    padding: 8px 2%;
    background-color: white;
    border-radius: 10px;
    border: 3px solid orange;
    display: block;
    width: 97%;
    color: rgb(50, 50, 50);
    font-size: 0.9em;
    height: 50px;
    font-weight: 100;
    cursor: pointer;
  }

  img.logoGoogle {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  img.logoGoogle:hover {
    background-color: rgba(181, 43, 64, 0.3);
    transition: 0.5s;
  }

/*========== REGISTER ========== */

  div.content-register {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 12px;
    box-shadow: 7px 2px 9px 0px #B52B40;
    position: absolute;
    min-width: 320px;
    max-width: 360px;
    justify-content: center;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 5px;
    text-align: center;
  }

  input.registerInputBox {
    margin:-3px 18px 9px 3px;
    padding: 8px 2%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid orange;
    display: block;
    width: 97%;
    color: rgb(93, 92, 92);
    font-size: 0.9em;
    height: 42px;
    font-weight: 100;
    cursor: pointer;
  }

  div.content-register button {
    width: 100%;
    height: 60px;
    background: #b52b40;
    box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
    font-size: 1.2em;
    border: 3px solid #facb80;
    color: #facb80;
    border-radius: 10px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
  }

  div.content-register button:hover {
    background-color: #ce5555;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #CC553E;
    transition: 0.5s;
  }

/*========== TIMELINE ========== */

.heartTimeline {
  height: 70px;
  margin: 0 20px 0 0;
}

.timeline-div{
  width: 100%;
  height: max-content;
  display: inline;
}

.timeline-main-div {
  height: fit-content;
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
}

div .navHome {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin: 20px 20px 0 20px;
  column-gap: 10px;
}

div .divUserName {
  margin: 0;
  width: 70px;
  height: 70px;
  background-image: url(img/user-image.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#FBD8B0;
  background-attachment: local;
}

div .divUserName:hover {
  cursor: pointer;
}

div.navHome span {
  font-size: 1em;
  font-weight: bold;
  color: #B52B40;
}

div.navHome span:hover {
  cursor: pointer;  
}

.logoutButton{
  border-width: 0;
  background-color: #facb80;
}

.timelineContentDiv{
  width: 96%;
  min-height: 50px;
  background-color: rgb(255, 234, 210);
  border: 3px solid #e58677;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  position: relative;
  font-size: .8em;
  box-shadow: 7px 2px 9px 0px #B52B40;
  top:20px;
  left: -1px;
}

.buttonToPost {
  background:#b52b40;
  box-shadow: -2px -2px 1px 1px #e58677;
  font-size: 14px;
  border: 1px solid rgb(193 184 163);
  color:#ffead2;
  position: absolute;
  left: 2%;
  right: 0px;
  bottom: -36px;
  border-radius: 10px;
  font-weight: bold;
  padding: 9px;
  margin-bottom: -10px;
  cursor: pointer;
}

.timelineInputBox {
  width: 100%;
  height: 79px;
  box-shadow: 0px 0px 10px 0px rgb(231, 230, 230);
  color: rgb(93, 92, 92);
  font-size: 1.2em;
  background-color: #fff;
  border: 1px solid  #ffead2;
  min-height: 90px;
  border-radius: 15px;
  margin: 16px auto 8px auto;
  word-wrap: break-word;
  position: relative;
  z-index: 0;
  padding: 30px;
}

.timelineInputBox ::placeholder {
  color: rgb(189, 176, 176);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
}

div.timelinePosts {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

#posts-div{
  width: 100%;
  height: 100%;
  padding: 10% 12% 12% 10%;
  display:flex;
  flex-flow: column nowrap;
  justify-items: center;
}

.descripcionPost{
  flex-grow: 1;
  margin: 20px 0;
  text-align: left;
  font-size: .8em;
  color: #242424;
}

.publicacionPost{
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #e58677;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 20px 20px 1px;
  position: relative;
  font-size: 1em;
  color: #242424;
}
p.usuario {
  color:#242424;
  font-weight: normal;
}

.removeLikeImg{
  height: 22px;
  width: 22px;
  display: inline-block;
  cursor: pointer;
}

.likeImg{
  height: 22px;
  width: 22px;
  display: inline-block;
  cursor: pointer;
}

.spanLikeDiv {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-self: flex-end;
  gap: 10px;
  color:#B52B40
}

.actionDiv {
  display: flex;
  flex-direction:  row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.actionDiv button{
  min-width: 70px; 
  height: 22px;
  background: #b52b40;
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  font-size: .8em;
  font-weight: normal;
  border: 1px solid #facb80;
  color: #facb80;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.actionDiv button:hover {
  background-color: #ce5555;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px #CC553E;
  transition: 0.5s;
}

button.back-to-top-button {
  position: relative;
  background:#b52b40;
  box-shadow: -2px -2px 1px 1px #e58677;
  font-size: 14px;
  border: 1px solid rgb(193 184 163);
  color:#ffead2;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20%;
  margin-top: -5%;
  padding:10px;
  min-width: fit-content;
  max-width:200px;
  justify-self: center;
}

button.back-to-top-button:hover {
  background-color: #ce5555;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px #CC553E;
  transition: 0.5s;
}

.divSignOut {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 207, 124);
  justify-content: center;
  display: flex;
  font-size: large;
  color:#B52B40;
  z-index: 2;
}
}
