html {
  height: 100%;
  width: 100%;
  font-family: Arimo, serif;
}

body {
  background-image: url(img/background-mobile-big.png);
  background-position: bottom right;
  background-size: cover;
  text-align: center;
  margin: 1em;
}

div#root {
  padding: 1.5em;
}

div.header-div * {
  color: rgba(181, 43, 64, 1);
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  flex-flow: row wrap;
}

div.header-div img#logo{
  height: 6em;
  width: 6em;
  margin: 0 0 0 -20px;
}

div.header-div h1 {
  font-family: "Concert One", serif;
  font-size: 3em;
}

div.header-div h2 {
  font-family: "Unbounded", serif;
  font-size: 2em;
  margin-bottom: 1em;
}

div.content-div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 10% 0;
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
  gap:4em 10em;
  min-width: 300px;
  max-width: 2000px;
}

div.content-div button {
  color:rgba(251, 216, 176, 1);
  font-size: 24px;
  font-family: Unbounded, serif;
  background-color: rgba(181, 43, 64, 1);
  border-style: none;
  border-radius: 40px;
  height: 3em;
  width: 10em;
}